* {
    margin: 0px;
    padding: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    border: 0;
  }
  
  h2 {
    margin-bottom: 0.5em;
  }
  
  p {
    margin: 0px;
    padding: 0px;
  }
  
  .container {
  }
  
  .header,
  .middle {
    margin: 0;
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
  }
  
  .left-nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
  }
  
  .left-nav__list {
    list-style-type: none;
    padding: 0;
  }
  
  .left-nav__article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
  }


.cf:before, .cf:after {
content:" ";
display: table;
}
.cf:after {
clear: both;
}
.cf {
*zoom: 1;
}
.menu {
position: fixed;
z-index: 9999;
top: 0px;
left: 10%;
right: 10%;

list-style:none;
margin: 10px auto;
width: 800px;
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
}
.menu > li {
background: #34495e;
float: left;
position: relative;
-webkit-transform: skewX(25deg);
}
.menu a {
display: block;
color: #fff;
text-transform: uppercase;
text-decoration: none;
font-family: Arial, Helvetica;
font-size: 14px;
}
.menu li:hover {
background: #e74c3c;
}
.menu > li > a {
-webkit-transform: skewX(-25deg);
padding: 1em 2em;
}
/* Dropdown */
.submenu {
position: absolute;
width: 200px;
left: 50%;
margin-left: -100px;
-webkit-transform: skewX(-25deg);
-webkit-transform-origin: left top;
}
.submenu li {
background-color: #34495e;
position: relative;
overflow: hidden;
}
.submenu > li > a {
padding: 0 2em 1em 2em;
}
.submenu > li::after {
content:'';
position: absolute;
top: -125%;
height: 100%;
width: 100%;
box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}
/* Odd stuff */
.submenu > li:nth-child(odd) {
-webkit-transform: skewX(-25deg) translateX(0);
}
.submenu > li:nth-child(odd) > a {
-webkit-transform: skewX(25deg);
}
.submenu > li:nth-child(odd)::after {
right: -50%;
-webkit-transform: skewX(-25deg) rotate(3deg);
}
/* Even stuff */
.submenu > li:nth-child(even) {
-webkit-transform: skewX(25deg) translateX(0);
}
.submenu > li:nth-child(even) > a {
-webkit-transform: skewX(-25deg);
}
.submenu > li:nth-child(even)::after {
left: -50%;
-webkit-transform: skewX(25deg) rotate(3deg);
}
/* Show dropdown */
.submenu, .submenu li {
opacity: 0;
visibility: hidden;
}
.submenu li {
transition: .2s ease -webkit-transform;
}
.menu > li:hover .submenu, .menu > li:hover .submenu li {
opacity: 1;
visibility: visible;
}
.menu > li:hover .submenu li:nth-child(even) {
-webkit-transform: skewX(25deg) translateX(15px);
}
.menu > li:hover .submenu li:nth-child(odd) {
-webkit-transform: skewX(-25deg) translateX(-15px);
}

#roberts-container {
background: #FFF;
border: none;
color: #000;
display: block;
font: initial;
height: auto;
letter-spacing: normal;
line-height: normal;
margin: 0;
padding: 0;
text-transform: none;
visibility: visible;
width: auto;
word-spacing: normal;
z-index: auto;


}

#roberts-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

#roberts-container li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#roberts-container li a.active {
  background-color: #4CAF50;
  color: white;
}

#roberts-container li a:hover:not(.active) {
  background-color: #555;
  color: white;
}